<app-header></app-header>
<main *ngIf="userEmail | async as user">
	<div class="admin-data">
		<h3 class="stats">Descargas estadísticas de los usuarios</h3>
	</div>
	<section class="user-info">
		<div class="back-color-profile">
			<img class="circular--square" src="../../../assets/ukUQGo3a_400x400.jpeg" />
		</div>
		<div class="profile-info">
			<div class="profile-name-edit">
				<h1>{{user.displayName}}</h1>
				<mat-icon routerLink="/edit" style="font-size: 27px;">mode_edit</mat-icon>
			</div>
			<p>Nivel</p>
		</div>
	</section>
	<section class="progress">
		<div>
			<div class="percetage">
				<h2>100%</h2>
			</div>
			<mat-progress-bar [color]="color" [mode]="mode" [value]="value" [bufferValue]="bufferValue">
			</mat-progress-bar>
		</div>
		<h3>Te faltan cursos para convertirte en Caballero Jedi</h3>
	</section>
	<section class="training">
		<h3>Continua con tu entrenamiento</h3>
		<div class="grid-courses">
			<div class="card-general">
				<div>
					<img src="../../../assets/cards_courses.jpg" />
				</div>
				<div class="title-section">
					<p>¿Qué es la tasa de interés?</p>
				</div>
			</div>
			<div class="card-general">
				<div>
					<img src="../../../assets/green_courses.png" />
				</div>
				<div class="title-section">
					<p>Los rendimientos</p>
				</div>
			</div>
			<div class="card-general">
				<div>
					<img src="../../../assets/fm_courses.jpg" />
				</div>
				<div class="title-section">
					<p>Mercado de Deuda</p>
				</div>
			</div>
		</div>
	</section>
</main>