<main>
	<div class="admin-data">
		<h3>Descargas estadísticas de los usuarios</h3>
	</div>
	<section class="user-info">
		<div class="back-color-profile">
			<img class="circular--square" src="../../../assets/ukUQGo3a_400x400.jpeg" />
		</div>
		<div class="profile-info">
			<div class="profile-name-edit">
				<h1>Nombre</h1>
				<mat-icon>mode_edit</mat-icon>
			</div>
			<p>Nivel</p>
		</div>
	</section>
	<section class="progress">
		<div>
			<h2>Porcentaje</h2>
			<mat-progress-bar
				[color]="color"
				[mode]="mode"
				[value]="value"
				[bufferValue]="bufferValue">
			</mat-progress-bar>
		</div>
		<h3>Te faltan "" cursos para convertirte en Caballero Jedi</h3>
	</section>
	<section class="training">
		<h3>Continua con tu entrenamiento</h3>
		<div class="grid-courses">
			<div>Primera imagen</div>
			<div>Segunda imagen</div>
			<div>Tercer imagen</div>
		</div>
	</section>
</main>