<div>
<h1>Estos son los cursos recomendados para ti</h1>
    <section>
        <div class="red">
            <div class="titulocursosgaleria">
                <h1>Empecemos a aprender a invertir</h1>
            </div> 
          
            <div class="galeria">
                <!--Aqui van los elementos de la galeria-->
                
                <!--Ficha del curso -->
                <div class="fichacurso" id="fichauno">
                    <div class="imagendelcurso">
                        <div style="background-image: url('/assets/inversion033.jpg'); " class="imagen">

                        </div>
                    </div>
                    <div class="descripciondelcurso">
                        <p>loremipsum</p>
                    </div>
                </div>
                <!--Cierre de ficha del curso-->
                 <!--Ficha del curso -->
                 <div class="fichacurso" id="fichados">
                    <div class="imagendelcurso">
                        <div style="background-image: url('/assets/inversion033.jpg'); " class="imagen">

                        </div>
                    </div>
                    <div class="descripciondelcurso">
                        <p>loremipsum</p>
                    </div>
                </div>
                <!--Cierre de ficha del curso-->

                <!--cierre de la galeria-->

            </div>
                        
        </div>       
    </section>
</div>
