.imagen{
    width: 90px;
    height: 120px;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.descripciondelcurso{
    width: 300px;
    height: 120px;
    background-color: gray;
    align-items: justify;

}
.fichacurso{
    display: flex;
    margin: 2px;
    

}
.galeria{
    display:flex;
    justify-content:space-around;
}
h2{
    display: flex;
    justify-content: flex-end;
}