<app-header></app-header>
<div class="title-courses">
  <h1>¡Estos son los cursos recomendados para ti!</h1>
</div>
<div class="content">
  <div class="card" *ngFor="let course of coursesToShow">
    <mat-card class="course-card" (click)="openDialog()">
      <div class="maininfo">
        <img mat-card-image src="{{ course.image }}" alt="courseimage" />
        <mat-card-title>{{ course.name }}</mat-card-title>
        <mat-card-subtitle>{{ course.topic }}</mat-card-subtitle>
      </div>
      <div class="hover-info">
        <mat-card-content>
          <p>{{ course.description }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>
            <mat-icon
              class="iconBtn"
              aria-hidden="false"
              aria-label="Arrow forward"
              >arrow_forward_ios </mat-icon
            >Comenzar
          </button>
          <button mat-button>
            <mat-icon
              class="iconBtn"
              aria-hidden="false"
              aria-label="Arrow forward"
              >arrow_forward_ios </mat-icon
            >Compartir
          </button>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>
</div>

<footer></footer>
