@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

h1 {
  font-family: "Noto", sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: #ff4713;
  margin-top: 2rem;
  margin-left: 15%;
  margin-bottom: 30px;
}
.inputs-edit {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  width: 40%;
  font-family: "Noto", sans-serif;

  span {
    color: #ff4713;
  }
}

section {
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
  width: 45%;

  .mat-form-field-appearance-fill .mat-form-field-flex {
    width: 75%;
    margin-right: 1rem;
  }
}
.btn-container {
  width: 80%;
  display: flex;
  justify-content: flex-end;

  button {
    justify-content: flex-end;
    background: #000000;
    font-size: 1em;
    letter-spacing: 2px;
    text-align: center;
    width: 9rem;
    font-weight: bold;
    font-family: "Noto Sans", sans-serif;
    color: white;
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    padding: 0.7rem;
    cursor: pointer;

    .iconBtn {
      color: #ff4713;
    }
  }
}

footer{
    margin: 0%;
    width: 100%;
    height: 50px;
    background-color: #FECE00;
    margin-top: 5.4rem;
}
