@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300;400;700;900&family=Noto+Sans:wght@400;700&display=swap");

div {
  padding: 4rem 2rem 2rem 0;
  background-color: #ffce00;
  height: 85%;
	position: relative;
  h2 {
		margin-left: 5rem;
    width: 70vw;
    line-height: 110%;
    font: {
      family: "Noto Sans", sans-serif;
      size: 32px;
      weight: 700;
    }
  }
  section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
/*     margin-top: 7rem; */
    div {
			padding-left: 3rem;
			display: flex;
			flex-direction: column;
			align-items: center;
      p {
				margin-top: 1rem;

        font: {
          family: "Noto Sans", sans-serif;
          size: 18px;
          weight: 700;
        }
      }
    }
    mat-slider {
      width: 50vw;
    }

    &:last-of-type {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      background-color: #ff4713;
      height: 7rem;
      margin: 0;
			width: 100vw;
      span {
				position: relative;
				padding-left: 5rem;
				color: white;
        font: {
          family: "Noto Sans Display", sans-serif;
          size: 60px;
          weight: 700;
        }
      }
    }
  }
}

::ng-deep .mat-slider-horizontal .mat-slider-track-wrapper {
  height: 10px !important;
	background-color: black;
}

::ng-deep .mat-accent .mat-slider-track-fill, .mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label {
	background-color: #ff4713 !important;
  height: 10px !important;
}
::ng-deep .mat-slider:not(.mat-slider-disabled):not(.mat-slider-sliding) .mat-slider-thumb-label, .mat-slider:not(.mat-slider-disabled):not(.mat-slider-sliding) .mat-slider-thumb {
  background-color: #ff4713 !important;
  transform: scale(1.5);
  color:#ff4713 !important;
}
::ng-deep .mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
  border: none !important;
 
  background-color: #ff4713 !important;
  transform: scale(1.4);
}
:ng-deep .mat-accent .mat-slider-track-fill, .mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label {
  background-color: #ff4713 !important;
}
:ng-deep .mat-slider:not(.mat-slider-disabled).cdk-mouse-focused .mat-slider-thumb, .mat-slider:not(.mat-slider-disabled).cdk-touch-focused .mat-slider-thumb, .mat-slider:not(.mat-slider-disabled).cdk-program-focused .mat-slider-thumb {
  border-width: 2px !important;
  transform: scale(1.5) !important;
  border-color: #ff4713 !important;
  background-color: #ff4713 !important;
}