<section *ngIf="valorModal; else   elseBlock">
<h2 mat-dialog-title>Inicia sesión</h2>
  <p>
    Inicia sesión para ver tu ruta de aprendizaje personalizada y continuar en
    tu camino al éxito
  </p>
  </section>
  <ng-template #elseBlock>
    <h2 mat-dialog-title>Regístrate</h2>
    <p>
      Después de tu registro podras acceder a todos los cursos de nuestra plataforma.
    </p>
  </ng-template>
  <form (ngSubmit)="valorModal  ? logIn() : register()" [formGroup]="user">
    <div class="inputs">
      <mat-form-field appearance="legacy" >
        <mat-label>Ingresa tu email</mat-label>
        <input
        size="large"
          id="email"
          name="mail"
          matInput
          placeholder="pat@example.com"
          formControlName="mail"
          required
        />
        <button mat-icon-button matSuffix>
          <mat-icon>email</mat-icon>
        </button>
        <mat-error *ngIf="f['mail'].touched">
          <span *ngIf="f['mail'].errors && f['mail'].errors['required']"
            >Este campo es obligatorio.</span
          >
          <span *ngIf="f['mail'].errors && f['mail'].errors['email']"
            >Ingresa un correo válido.</span
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="legacy"  >
        <mat-label>Ingresa tu contraseña</mat-label>
        <input

          matInput
          size="medium"
          id="password"
          name="password"
          formControlName="password"
          [type]="hide ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon >{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error *ngIf="f['password'].touched">
          <span *ngIf="f['password'].errors && f['password'].errors['required']"
            >Este campo es obligatorio.</span
          >
          <span
            *ngIf="f['password'].errors && f['password'].errors['minlength']"
            >La contraseña debe contener al menos 8 caracteres.</span
          >
        </mat-error>
      </mat-form-field>
    </div>
   
      <div class="login"  *ngIf="valorModal; else elseBlock2"> 
        <button mat-button  [mat-dialog-close]="true" cdkFocusInitial type="submit" class="loginbutton">
                  <mat-icon class='arrow'>keyboard_arrow_right</mat-icon>Inicia sesión</button> <hr>
        <button mat-button  [mat-dialog-close]="true" cdkFocusInitial type="button" (click)="google()">
          <mat-icon class='arrow'>Google</mat-icon>Inicia sesión con Google</button></div>
          <ng-template #elseBlock2 >
            <div class="login"><button class="loginbutton" mat-button  [mat-dialog-close]="true" cdkFocusInitial type="submit">
              <mat-icon class='arrow'>keyboard_arrow_right</mat-icon>Registrarse</button><hr>
              <button mat-button  [mat-dialog-close]="true" cdkFocusInitial type="button" (click)="google2()">
                <mat-icon class='arrow'>Google_rounded</mat-icon>Registrarse con Google</button></div>
            
          </ng-template>

  </form>

