::ng-deep .mat-dialog-container {
  width: 75vw;
  background-color: #ffcc00;
  padding: 5%;

  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
  }
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 20px;
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .inputs {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      height: 30%;
      .mat-form-field {
        width: 30%;
        font-size: 18px;
        mat-label{
            color:black;
            font-size: 18px
        }
       
        
      }
    }.login{
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        button{
            background-color: black;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            margin-left: 10px;
            .arrow{
                color: #FF4713;
            }
        }
    }
  }
}
