@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

::ng-deep .my-custom-dialog-login {
  mat-dialog-container {
    width: 75vw;
    background-color: #ffcc00;
    padding: 5%;

    h2 {
      font-family: "Noto Sans", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 65px;
    }
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 33px;
      margin-bottom: 20px;
    }
    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .inputs {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        height: 30%;
        .mat-form-field {
          width: 30%;
          font-size: 18px;
          mat-label {
            color: black;
            font-size: 18px;
          }
        }
      }
      .login {
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        hr {
          align-self: center;
          color: black;
          width: 98%;
          margin: 3%;
          background-color: black;
          height: 0.5px;
          border-bottom: 0.3 black solid;
        }
        .loginbutton {
          align-self: flex-end;
        }
        button {
          align-self: center;
          background-color: black;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 18px;
          margin-left: 10px;
          width: 30%;
          .arrow {
            color: #ff4713;
            font-size: 18px;
          }
          &:disabled {
            color: white
          }
        }
      }
    }
  }
}
@media (max-width: 600px) and (orientation: portrait) {
  ::ng-deep .my-custom-dialog-login {
    mat-dialog-container {
      height: 70vh;
      width: 100vw;

      h2 {
        margin-top: 6%;
        font-size: 40px;
        line-height: 45px;
      }
      p {
        text-align: left;
        font-size: 22px;
      }
      form {
        width: 100%;
        .inputs {
          width: 100%;
          display: flex;
          flex-direction: column;
          .mat-form-field {
            width: 90%;
            font-size: 18px;
          }
        }
        .login {
          width: 100%;

          .loginbutton {
            align-self: center;
          }
          button {
            flex-wrap: wrap;
            width: 87%;
          }
        }
      }
    }
  }
}
