@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

@mixin noto($color, $x, $y) {
  color: $color;
  font: {
    family: "Noto Sans", sans-serif;
    size: $x;
    weight: $y;
  }
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-top: 15%;
  overflow-y: hidden;
  p {
    margin-top: 3rem;
		@include noto(black, 28px, 700)
  }
}
