@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

header {
  display: flex;
  flex-direction: row;
  padding: 1rem 2rem 1rem 2rem;
  padding-bottom: 1rem;
  justify-content: space-between;
  border-bottom: 1px solid;
  img {
    cursor: pointer;
  }
  .main {
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    .section-user {
      display: flex;
      flex-direction: row;
      align-items: center;
      .container-logout {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .logout {
          text-decoration: underline;
          cursor: pointer;
          font: {
            family: "Noto Sans", sans-serif;
            size: 16px;
            weight: 400;
          }
          &:hover {
            color: #ff4713;
          }
        }
      }
    }
    div,
    .session {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      h3 {
        margin: 0;
        font: {
          family: "Noto Sans", sans-serif;
          size: 16px;
          weight: 400;
        }
      }
    }

    button {
      border: 2px solid;
      border-color: #ff4714;
      border-radius: 30px;
      color: rgb(0, 0, 0);
      font-family: "Noto Sans", sans-serif;
      font-size: 14px;
      &:hover {
        background-color: #ff4714;
        color: white;
      }
    }
    .name-user {
      border-color: white;
    }
    .name-user:hover {
      background-color: white;
      color: black;
    }
    span {
      padding-left: 1rem;
      .language-icon {
        font-size: 40px;
      }
      .arrow-icon {
        padding-left: 10px;
        font-size: 40px;
      }
    }
  }
}

@media (max-width: 420px) and (orientation: portrait) {
  header {
    flex-direction: column;
    margin-right: 0;
    align-items: flex-start;
    padding: 1rem 0 1rem 2rem;
    img {
      margin: 10px 10px 20px;
      align-self: baseline;
    }
    .main {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between !important;
  
      grid-gap: 0;
      gap: 0;

      .section-user {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .name-user {
          display: flex;
          position: relative;
          margin-right: 20px;
          flex-wrap: wrap;
        }
        .container-logout{
          h3{
            padding-left: 18px;
          }
        }
      }

      .session {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 0;

        h3 {
          width: fit-content;
          flex: 100%;
          text-align: right;
          margin-left: 8px;
        }
      }
      span {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        // padding-left: 4rem;
      }
    }
  }
}
