<section class="intro">
    <form [formGroup]="userquiz" (ngSubmit)= 'startQuiz()'>
    <h1> Aquí inicia tu travesía... </h1>
        <div class="quizNameComponer">
            <mat-form-field class="example-form-field" appearance='legacy'>
                <mat-label>Ingresa tu nombre</mat-label>
                <input matInput #name type="text" formControlName="name">
                <mat-error *ngIf="f['name'].touched">
                    <span *ngIf="f['name'].errors && f['name'].errors['required']">Este campo es obligatorio.</span>
                    <span *ngIf="f['name'].errors && f['name'].errors['minlength']">Ingresa un nombre válido.</span>
                </mat-error>
            </mat-form-field>
        </div>
    <h2>¡...Qué la fuerza te acompañe!</h2>
    <section class="quizGif">
        <app-gif-hello></app-gif-hello>
    </section>
    <button mat-stroked-button type="submit" class= 'startBtn' [disabled]="!(userquiz.valid && userquiz.dirty)"> 
        <mat-icon class='iconBtn' aria-hidden='false' aria-label='Arrow forward'>arrow_forward_ios            
        </mat-icon> Comenzar</button>
    </form>
</section>