<div  [formGroup]="questions">
    <section class="header">
        <h2>Verdadero o falso</h2>
        <section> <span>V</span>
        <span>F</span></section>
       
    </section>
  <section>
    <p>
      Entre más diversificado un portafolio, más rendimientos puedes esperar
    </p>
    <section>
    <mat-checkbox formControlName="onetrue"  (change)="toggleSelection()" [checked]="!disabled"  ></mat-checkbox>
    <mat-checkbox formControlName="onefalse" (change)="toggleSelection()" [disabled]="checked" ></mat-checkbox></section>
  </section>
  <section>
      <p>Mayor diversificación es sinónimo de mayor seguridad en tus inversiones</p>
      <section>
      <mat-checkbox formControlName="twotrue" (change)="toggleSelection()"></mat-checkbox>
      <mat-checkbox formControlName="twofalse" (change)="toggleSelection()"></mat-checkbox></section>
     
  </section>
  <section>
      <p>Entre más tipos de instrumentos financieros en tu portafolio menor será tu diversificación</p>
      <section>
      <mat-checkbox formControlName="threetrue" (change)="toggleSelection()"></mat-checkbox>
      <mat-checkbox formControlName="threefalse" (change)="toggleSelection()"></mat-checkbox></section>
      
  </section>
  <section>
      <p>Un portafolio diversificado siempre es preferible a uno no diversificado sin importar el tipo de inversionista</p>
     <section> <mat-checkbox formControlName="fourtrue" (change)="toggleSelection()"></mat-checkbox>
      <mat-checkbox formControlName="fourtrue" (change)="toggleSelection()"></mat-checkbox></section>
  </section>
</div>
