<mat-stepper orientation="horizontal" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <app-first-question ></app-first-question>
        <div>
            <button mat-button matStepperNext><mat-icon class='iconBtn' aria-hidden='false' aria-label='arrow_circle_down'>arrow_circle_down
            </mat-icon></button>
        </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <app-secondquestion ></app-secondquestion>
        <div>
            <button mat-button matStepperPrevious><mat-icon class='iconBtn' aria-hidden='false' aria-label='arrow_circle_up'>arrow_circle_up
            </mat-icon></button>
            <button mat-button matStepperNext><mat-icon class='iconBtn' aria-hidden='false' aria-label='arrow_circle_down'>arrow_circle_down
            </mat-icon></button>
        </div>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
        <app-third-question></app-third-question>
        <div>
            <button mat-button matStepperPrevious><mat-icon class='iconBtn' aria-hidden='false' aria-label='arrow_circle_up'>arrow_circle_up
            </mat-icon></button>
            <button mat-button matStepperNext><mat-icon class='iconBtn' aria-hidden='false' aria-label='arrow_circle_down'>arrow_circle_down
            </mat-icon></button>
        </div>
    </mat-step>
    <mat-step [stepControl]="fourthFormGroup">
        <app-fourthquestion ></app-fourthquestion>
        <div>
            <button mat-button matStepperPrevious><mat-icon class='iconBtn' aria-hidden='false' aria-label='arrow_circle_up'>arrow_circle_up
            </mat-icon></button>
            <button mat-button matStepperNext><mat-icon class='iconBtn' aria-hidden='false' aria-label='arrow_circle_down'>arrow_circle_down
            </mat-icon></button>
        </div>
    </mat-step>
    <mat-step [stepControl]="fifthFormGroup">
        <app-fifth-question ></app-fifth-question>
        <div>
            <button mat-button matStepperPrevious><mat-icon class='iconBtn' aria-hidden='false' aria-label='arrow_circle_up' >arrow_circle_up
            </mat-icon></button>
            <button mat-button (click)="punctuation()"> <mat-icon class='iconBtn' aria-hidden='false' aria-label='Arrow forward' >arrow_forward_ios
            </mat-icon> Ver mis resultados</button>
        </div>
    </mat-step>
  </mat-stepper>