<mat-stepper #stepper>

    <mat-step [stepControl]="firstFormGroup">
        <app-first-question ></app-first-question>
        <div id="arrows1">
                <button mat-stroked-button type='button' id= 'nextBtn' matStepperNext>
                <mat-icon class='iconBtn' aria-hidden='false' aria-label='arrow_forward_ios'>arrow_forward_ios
                </mat-icon> Siguiente </button>
        </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <app-secondquestion ></app-secondquestion>

        <div id="arrows-white">
            <button mat-stroked-button type='button' id= 'previousBtn' matStepperPrevious>
                <mat-icon class='iconBtn' aria-hidden='false' aria-label='arrow_back_ios_new'>arrow_back_ios_new
                </mat-icon> Anterior </button>
            <button mat-stroked-button type='button' id= 'nextBtn' matStepperNext>
                <mat-icon class='iconBtn' aria-hidden='false' aria-label='arrow_forward_ios'>arrow_forward_ios
                </mat-icon> Siguiente </button>

        </div>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
        <app-third-question></app-third-question>

        <div id="arrows-pink">
            <button mat-stroked-button type='button' id= 'previousBtn' matStepperPrevious>
                <mat-icon class='iconBtn' aria-hidden='false' aria-label='arrow_back_ios_new'>arrow_back_ios_new
                </mat-icon> Anterior </button>
            <button mat-stroked-button type='button' id= 'nextBtn' matStepperNext>
                <mat-icon class='iconBtn' aria-hidden='false' aria-label='arrow_forward_ios'>arrow_forward_ios
                </mat-icon> Siguiente </button>


        </div>
    </mat-step>
    <mat-step [stepControl]="fourthFormGroup">
        <app-fourthquestion ></app-fourthquestion>
        <div id="arrows1">
            <button mat-stroked-button type='button' id= 'previousBtn' matStepperPrevious>
                <mat-icon class='iconBtn' aria-hidden='false' aria-label='arrow_back_ios_new'>arrow_back_ios_new
                </mat-icon> Anterior </button>
            <button mat-stroked-button type='button' id= 'nextBtn' matStepperNext>
                <mat-icon class='iconBtn' aria-hidden='false' aria-label='arrow_forward_ios'>arrow_forward_ios
                </mat-icon> Siguiente </button>
        </div>
    </mat-step>
    <mat-step [stepControl]="fifthFormGroup">
        <app-fifth-question ></app-fifth-question>
        <div id="arrows">
            <button mat-stroked-button type='button' id= 'previousBtn' matStepperPrevious>
                <mat-icon class='iconBtn' aria-hidden='false' aria-label='arrow_back_ios_new'>arrow_back_ios_new
                </mat-icon> Anterior </button>
            <button mat-stroked-button type='button' id= 'nextBtn' routerLink="/loading">
                <mat-icon class='iconBtn' aria-hidden='false' aria-label='arrow_forward_ios'>arrow_forward_ios
                </mat-icon> Mi resultado </button>
        </div>
    </mat-step>
  </mat-stepper>

 