@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
$bg-color: #ffce00;

div {
  background-color: $bg-color;
  height: 100%;
  padding: 0.5rem;
  h1 {
    margin: 2rem 0rem 2rem 2rem;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    font-size: 36px;
    padding-top: 2rem;
  }
  section {
    display: grid;
    justify-content: center;
    width: 90%;
    padding-left: 5%;
    padding-top: 2rem;
    grid-template-columns: 210px 210px 210px;
    column-gap: 150px;
    row-gap: 50px;

    .mat-card {
      background-color: #ff4713;
      justify-items: center;
      width: 210px;

      .mat-card-title {
        color: #fff;
        font-family: 'Noto Sans', sans-serif;
        font-size: 16px;
        font-weight: lighter;
        text-align: center;
      }

      img {
        border-radius: 0%;
        width: 210px;
        margin-left: 1px;
      }
    }

    .mat-card:active {
      background-color: #fff;
      .mat-card-title {
        color: #ff4713;
      }
    }
  }
}