<div>
  <h1>{{ user }}, ¿por qué quieres aprender sobre finanzas?</h1>
  <section>
    <button
      id="q1"
      (click)="checkVisited($event)"
      value="Quiero tomar las riendas de mi futuro financiero"
    >
      Quiero tomar las riendas de mi futuro financiero
    </button>
    <button
      id="q2"
      (click)="checkVisited($event)"
      value="Quiero comprar una casa"
    >
      Quiero comprar una casa
    </button>
    <button
      id="q3"
      (click)="checkVisited($event)"
      value="Quiero expandir mis conocimientos"
    >
      Quiero expandir mis conocimientos
    </button>
    <button
      id="q4"
      (click)="checkVisited($event)"
      value="Tengo un objetivo en la mente al que quiero llegar"
    >
      Tengo un objetivo en la mente al que quiero llegar
    </button>
    <button
      id="q5"
      (click)="checkVisited($event)"
      value="He visto que más y más gente ha comenzado a invertir y no me quiero
quedar atrás"
    >
      He visto que más y más gente ha comenzado a invertir y no me quiero quedar
      atrás
    </button>
  </section>
</div>
