<footer>
	<section class="terms">
		<a href="https://www.blackrock.com/corporate/compliance/privacy-policy">Política de privacidad</a>
		<a href="https://www.blackrock.com/mx/intermediarios/normativa/terminos-y-condiciones">Términos y Condiciones</a>
		<p>Gestionar cookies</p>
	</section>
	<div>
		<p>© 2022 BlackRock, Inc. Todos los derechos reservados.</p>
	</div>
	<section class="iconos">
		<mat-icon><a href="https://twitter.com/BlackRockMX"><img
					src="https://img.icons8.com/material/24/000000/twitter-squared.png" /></a></mat-icon>
		<mat-icon><a href="https://www.facebook.com/BlackRock/"><img
					src="https://img.icons8.com/material/24/000000/facebook-new.png" /></a></mat-icon>
		<mat-icon><a href="https://www.instagram.com/blackrock/?hl=fr"><img
					src="https://img.icons8.com/material/24/000000/instagram-new--v1.png" /></a></mat-icon>
		<mat-icon><a href="https://www.linkedin.com/company/blackrock/?originalSubdomain=mx"><img
					src="https://img.icons8.com/ios-filled/24/000000/linkedin.png" /></a></mat-icon>
	</section>
</footer>