@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300;400;700;900&family=Noto+Sans:wght@400;700&display=swap");

$font-color: #000000;

footer {
  display: flex;
  flex-direction: column;
/*   justify-content: space-around; */
  align-items: center;
  border-top: 10px solid #000000;
  background-color: #ffffff;
  font-family: "Noto Sans Display", sans-serif;
  color: $font-color;
  font-size: 16px;
/*   height: 146px; */
/*   bottom: 0px; */
/*   backdrop-filter: blur(1rem); */
	padding: 0 0 3rem;


  .terms {
    display: flex;
    flex-direction: row;
		justify-items: flex-start;
    padding: 4rem 0 3rem 5rem;
    gap: 5%;
		width: 90vw;
    p {
      font: {
        family: "Noto Sans Display", Sans-serif;
        weight: 400;
        size: 16px;
      }
    }
  }

	div{
		display: flex;
		justify-content: center;
	}


  /* section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  } */
  .iconos {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

  }
}
