<footer>
	<section class="terms">
		<p>Privacy Policy</p>
		<p>Terms & Conditions</p>
		<p>Manage Cookies</p>
	</section>
	<div>
		<p>© 2022 BlackRock, Inc. Todos los derechos reservados.</p>
	</div>
	<section class="iconos">
		<mat-icon><img src="https://img.icons8.com/material/24/000000/twitter-squared.png" /> </mat-icon>
		<mat-icon><img src="https://img.icons8.com/material/24/000000/facebook-new.png" /></mat-icon>
		<mat-icon><img src="https://img.icons8.com/material/24/000000/instagram-new--v1.png" /></mat-icon>
		<mat-icon><img src="https://img.icons8.com/ios-filled/24/000000/linkedin.png" /></mat-icon>
	</section>
</footer>

